p.padding {
    font-weight: 200;
    padding-right: 17%;
    padding-left: 17%;
    font-size: 19px;
    color: #898b8e;
    /* Try changing padding- to margin- if frames are needed */
}


h1, h3, h5 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 80px;
    font-weight: 400;
}

h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    display: inline-block;
    font-weight: 400;
}

.nav-link {
    color: black;
    font-size: 50px;
}


.nav-link:hover {
    color: #e22620;
    cursor: pointer;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}


.home-link {
    color: black;
    font-size: 80px;
}

.home-link:hover {
    color: #e22620;
    cursor: pointer;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}



a {
    font-family: 'Cormorant Garamond', sans-serif;
}


#writing-card { 
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.copyright { 
    text-align: center;
    font-size: 13px;
    /*text-decoration: underline;*/
}



body {
    font-family: 'Cormorant Garamond', sans-serif;
    /*padding-top: 50px;*/
    padding-top: 20px;
    padding-bottom: 60px;
    /*background: rgb(224, 228, 229);*/
}


/*.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}*/

/*.navbar .navbar-collapse {
    text-align: center;
}*/



#navicon {
    font-size:large;
}

.img-circle {
    /*border-radius: 25%;*/
    /*border-width: thick;*/
    width: 20em;
    height: 20*1.33em;
    /*border: 100px;*/
    /*-webkit-filter:  sepia(100);*/
    /*-webkit-filter: drop-shadow(1px 1px 1px black) */

}


.img-about {
    /*border-radius: 25%;*/
    /*border-width: thick;*/
    width: 17em;
    height: 17*1.33em;
    /*border: 100px;*/
    /*-webkit-filter:  sepia(100);*/
    /*-webkit-filter: drop-shadow(1px 1px 1px black) */

}



.navbar .navbar-brand {
    cursor: pointer;
   /* padding-top: 10px;
    margin-left:15px;
    margin-right:15px;*/
    horizontal-align: center;
}


.icon {

}

.link { 
    font-family: 'Cormorant Garamond', sans-serif;
}

.frame {
    border-bottom: 1.5px solid black;
    border-top: 1.5px solid black;
    margin-left: 18%;
    margin-right: 18%;
    padding: 10px;
}

/* Highlight background in off white on mouseover */

/*.frame:hover {
    background: #dee0e2;
}*/

.card-title  {
    color: black;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 40px;
}

.card-title: visited { 
    color: black;
}

.subtitle {
    font-size: 19px;
    color: #898b8e;
}

.date {
    color: black;
    font-size: 19px;
}

.article-title {
    font-family: 'Cormorant Garamond', sans-serif;
    margin: auto; 
} 


