p.padding {
    padding-right: 17%;
    padding-left: 17%;
    font-size: large;
}
h1, h3 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}
a {
    font-family: 'Playfair Display', serif;
}
body { 
    font-family: 'Playfair Display', serif;
    padding-top: 50px;
    padding-bottom: 60px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}   
#navicon {
    font-size:large;
}
.img-circle {
    border-radius: 100%;
    border-width: thick;
    width: 15em;
    border: 100px;
}
.navbar .navbar-brand {
    cursor: pointer;
    padding-top: 10px;    
    margin-left:15px;
    margin-right:15px;
}
.icon {
    
}
.link {
    font-family: 'Playfair Display', serif;
}