p.padding {
    padding-right: 17%;
    padding-left: 17%;
    font-size: large;
    font-family: TestFont2;
}
h1, h3 {
    font-size: 60px;
    font-family: TestFont;
}
a {
   font-family: TestFont; 
}
body { 
    padding-top: 50px;
    padding-bottom: 60px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
#navicon {
    font-size:large;
}
.img-circle {
    border-radius: 50%;
    border-width: thick;
    border-color: cyan;
    width: 35em;
    border: 100px;
}
.navbar .navbar-brand {
    cursor: pointer;
    padding-top: 10px;    
    margin-left:15px;
    margin-right:15px;
}
.icon {
    
}
.link {
            font-family: TestFont2; 
}
@font-face {
   font-family: TestFont;
   src: url(MonasticPro.otf);
}
@font-face {
    font-family: TestFont2;
    src:url(infini-romain.otf);