p.padding {
    font-weight: 200;
    padding-right: 17%;
    padding-left: 17%;
    font-size: 19px;
    color: #898b8e;
    /* Try changing padding- to margin- if frames are needed */
}
h1, h3 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 70px;
}


a {
    font-family: 'Cormorant Garamond', sans-serif;
}

.bold-num {
    font-weight: bold;
    color: black;
}

p.bold-num {
    font-weight: bold;
    color: black;
}

a.bold-num {
    font-weight: bold;
    color: black;
}

.copyright { 
    text-align: center;
    font-size: 13px;
    /*text-decoration: underline;*/
}


.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;

}

#writing-card { 
    border-radius: 25px;
    border: 2px solid #73AD21;

}

h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    display: inline-block;

}
body {
    font-family: 'Cormorant Garamond', sans-serif;
    /*padding-top: 50px;*/
    padding-top: 20px;
    padding-bottom: 60px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
#navicon {
    font-size:large;
}
.img-circle {
    border-radius: 100%;
    border-width: thick;
    width: 20em;
    border: 100px;
}
.navbar .navbar-brand {
    cursor: pointer;
    padding-top: 10px;
    margin-left:15px;
    margin-right:15px;
}
.icon {

}
.link { 
    font-family: 'Cormorant Garamond', sans-serif;
}

.frame {
    border-bottom: 1.5px solid black;
    border-top: 1.5px solid black;
    margin-left: 17%;
    margin-right: 17%;
    padding: 10px;
}
 
/* Highlight background in off white on mouseover */

/*.frame:hover {
    background: #dee0e2;
}*/

.card-title  {
    color: black;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 35px;
}

.card-title: visited { 
    color: black;
}


.date {
    font-weight: 200;
    padding-right: 17%;
    padding-left: 17%;
    color: black;   
    font-size: 19px;
}

.article-title {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 50px;
    color: #EB6864;
    padding-right: 17%;
    padding-left: 17%;
} 

/*.article {
    border-bottom: 1.5px solid black;
    border-top: 1.5px solid black;
    margin-left: 18%;
    margin-right: 18%;
} */